@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h2 {
        font-size: 30px;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}